.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background-color: var(--el-color-primary);
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  .title {
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
    &:hover {
      color: var(--el-color-primary-light-2);
      cursor: pointer;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    .action-item {
      margin-left: 10px;
      color: #ffffff;
      &:hover {
        color: var(--el-color-primary-light-2);
      }
    }
  }
}
